// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : false;
$container : nandes;
$item      : item;
$max-width : 1050px;
$gutter     : 1rem;

$breakpoints : (
  s  : 0,
  m  : 550px,
  l  : 840px,
  xl  : 1024px,
);


// Colors
$firstColor  : #007BDF;
$secondColor : #00CBFF;
$thirdColor  : #FF3C32;
$accentColor : #FBA905;
$darkColor   : #171A1C;

// Complementary colors:
$borderColor : #DFE0E0;
$textColor   : #53575A;
$bodyBg      : #FAFDFF;

// z-ndex
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;
