*,:after,:before{ box-sizing:border-box; }

body{ font-family:sans-serif; }

img{ max-width:100%; height:auto; }

a{ text-decoration:none; }

a:hover{ text-decoration:underline; }

.nandes{ display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; max-width:1050px; margin-left:auto; margin-right:auto; width:100%; }

.col50,.item{ margin:0; padding-left:1rem; padding-right:1rem; }

.item{ width:100%; }

.item.nandes{ padding-left:0; padding-right:0; }
*,:after,:before{ box-sizing:border-box; }

body{ margin:0; background:#fafdff; }

em,strong{ font-weight:700; }

p{ margin-top:0; }

.main-header{ height:64px; border-bottom:1px solid #dfe0e0; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; background:#fff; position:fixed; top:0; width:100%; left:0; z-index:1; }

.main-header+.main-section{ margin-top:2rem; }

body{ margin-top:64px; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; min-height:calc(100vh - 64px); }

.main-section{ margin-bottom:4rem; }

.main-footer{ background:#171a1c; color:#fff; margin-top:auto; padding:1em 0; }

.sidebar-first{ margin-bottom:1em; }

.col50{ width:100%; padding:10px; }

@media screen and (min-width:550px){ .col50{ width:50%; } }

.button,[class*=button--]{ display:inline-block; padding:.8em 1.6em; background:#007bdf; color:#fff; margin:0 2rem 0 0; cursor:pointer; text-decoration:none; border-radius:.25rem; transition:-webkit-transform .05s; transition:transform .05s; transition:transform .05s,-webkit-transform .05s; border:none; text-align:center; }

.button:hover,[class*=button--]:hover{ background:#006dc6; text-decoration:inherit; }

.button:active,[class*=button--]:active{ -webkit-transform:scale(.99); transform:scale(.99); }

.button.center,[class*=button--].center{ display:table; margin:0 auto; }

.button.full,[class*=button--].full{ margin:0; width:100%; }

.button.button--small,[class*=button--].button--small{ padding:.3em .8em; }

.button--secondary{ background:#00cbff; }

.button--secondary:hover{ background:#00c3f5; }

.button--tertiary{ background:#ff3c32; }

.button--tertiary:hover{ background:#ff1f13; }

.button--cta{ background:#fba905; }

.button--cta:hover{ background:#f2a304; }

.button--dark{ background:#171a1c; }

.button--dark:hover{ background:#000; }

[class*=button--ghost]{ color:#007bdf; background:none; border:1px solid; }

[class*=button--ghost]:hover{ background:#007bdf; color:#fff; border-color:transparent; }

.button--ghost--secondary{ color:#00cbff; }

.button--ghost--secondary:hover{ background:#00cbff; color:#fff; }

.button--ghost--tertiary{ color:#ff3c32; }

.button--ghost--tertiary:hover{ background:#ff3c32; color:#fff; }

.button--ghost--cta{ color:#fba905; }

.button--ghost--cta:hover{ background:#fba905; color:#fff; }

.button--ghost--dark{ color:#171a1c; }

.button--ghost--dark:hover{ background:#171a1c; color:#fff; }

.show-buttons .button,.show-buttons [class*=button--]{ margin-bottom:2rem; }

.show-buttons+h2{ margin-top:1rem; }
body{ position:relative; right:0; transition:right .5s; }

@media screen and (max-width:839px){ body.main-menu-visible{ right:80%; overflow-y:hidden; } }

.main-menu-toggle{ position:relative; z-index:2; width:30px; height:20px; box-shadow:inset 0 4px #53575a; cursor:pointer; }

.main-menu-toggle:after,.main-menu-toggle:before{ content:""; position:absolute; width:100%; height:4px; background-color:#53575a; bottom:0; }

.main-menu-toggle:after{ bottom:8px; }

.main-menu{ font-size:1rem; }

@media screen and (max-width:839px){ .main-menu{ position:fixed; top:64px; background:rgba(0,123,223,.95); width:80%; right:-80%; padding:1em 1em 2em; height:calc(100vh - 64px); transition:right .5s; overflow-y:auto; }
  .main-menu.show{ right:0; } }

.main-menu ul{ list-style:none; margin-top:0; margin-bottom:0; padding-left:0; margin-left:0; }

@media screen and (min-width:840px){ .main-menu ul{ display:-webkit-box; display:-ms-flexbox; display:flex; } }

.main-menu li{ color:#fff; border-bottom:1px solid hsla(0,0%,100%,.2); padding:1em 0; }

@media screen and (min-width:840px){ .main-menu li{ color:#53575a; padding:0; margin-left:2rem; } }

.main-menu a{ color:inherit; }

.vertical-menu-toggle{ background-size:100% 34%; font-size:1rem; }

@media screen and (max-width:839px){ .vertical-menu-toggle{ display:-webkit-box; display:-ms-flexbox; display:flex; } }

.vertical-menu-toggle:before{ content:""; display:block; width:.5em; height:1.2em; background-image:radial-gradient(circle,#53575a 2px,transparent 0); background-size:100% 34%; margin-right:.2em; }

.vertical-menu-toggle:after{ content:attr(data-content); }

@media screen and (max-width:839px){ .vertical-menu{ max-height:0; transition:max-height .5s; overflow:hidden; }
  .vertical-menu.show{ max-height:1000px; margin-bottom:1em; } }

.vertical-menu ul{ list-style:none; margin-top:0; margin-bottom:0; padding-left:0; margin-left:0; }

.vertical-menu li{ padding:1em 0; border-bottom:1px solid #dfe0e0; font-size:1rem; color:#53575a; }

.vertical-menu a{ color:inherit; display:block; }

.vertical-menu a.active{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; -webkit-box-align:center; -ms-flex-align:center; align-items:center; color:#ff3c32; }

.vertical-menu a.active:after{ content:""; display:block; width:1rem; height:1rem; background:url(../img/icon-right.svg) 100%/contain no-repeat; }

.vertical-menu a.active:hover{ text-decoration:none; }

.main-logo{ height:40px; width:auto; display:block; }

ol,ul{ margin-top:1em; margin-bottom:1em; padding-left:2em; margin-left:2em; }

ol li,ul li{ padding-left:.2em; }

.data-list,.feature-list{ list-style:none; margin-top:0; margin-bottom:0; padding-left:0; margin-left:0; margin-top:2em; margin-bottom:2em; }

.data-list li,.feature-list li{ border-bottom:1px solid #dfe0e0; padding:.5em 0; }

.data-list li{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; -webkit-box-align:center; -ms-flex-align:center; align-items:center; }

.data-list [class*=button],.data-list h1,.data-list h2,.data-list h3,.data-list h4,.data-list h5,.data-list h6,.data-list p{ margin:0; }

.feature-list{ padding-left:0; }

.feature-list li{ padding:.5em 0 .5em 1.5em; list-style:none; position:relative; }

.feature-list li:before{ content:""; width:1rem; height:1rem; display:block; position:absolute; top:.9em; left:0; color:#007bdf; background:url(../images/icon-check.svg); }

code{ color:#ff3c32; display:inline-block; border:1px solid #dfe0e0; padding:.1em .5em; margin:0 .5em; font-family:monospace; }

pre code{ display:block; border:none; }

.center{ text-align:center; }

.strong{ font-weight:700; }

table{ table-layout:fixed; border-collapse:collapse; font-size:1rem; background:#fff; }

table th{ background:#007bdf; }

table td{ border-bottom:1px solid rgba(0,123,223,.3); }

table tr:hover{ background:rgba(0,123,223,.1); }

table.first-column td:first-child{ background:rgba(0,123,223,.75); color:#fff; }

table th{ font-family:Open Sans,sans-serif; text-align:left; color:#fff; font-weight:700; border-right:1px solid hsla(0,0%,100%,.2); }

table td{ min-width:100px; }

table td:nth-child(2n){ background:hsla(180,2%,88%,.2); }

table td,table th{ padding:1em 1.5em; }

.table-container{ width:100%; overflow-x:auto; border:1px solid #dfe0e0; margin-bottom:2em; position:relative; }

.table--secondary th{ background:#00cbff; }

.table--secondary td{ border-bottom:1px solid rgba(0,203,255,.3); }

.table--secondary tr:hover{ background:rgba(0,203,255,.1); }

.table--secondary.first-column td:first-child{ background:rgba(0,203,255,.75); color:#fff; }

.table--tertiary th{ background:#ff3c32; }

.table--tertiary td{ border-bottom:1px solid rgba(255,60,50,.3); }

.table--tertiary tr:hover{ background:rgba(255,60,50,.1); }

.table--tertiary.first-column td:first-child{ background:rgba(255,60,50,.75); color:#fff; }

.table--accent th{ background:#fba905; }

.table--accent td{ border-bottom:1px solid rgba(251,169,5,.3); }

.table--accent tr:hover{ background:rgba(251,169,5,.1); }

.table--accent.first-column td:first-child{ background:rgba(251,169,5,.75); color:#fff; }

.table--dark th{ background:#171a1c; }

.table--dark td{ border-bottom:1px solid rgba(23,26,28,.3); }

.table--dark tr:hover{ background:rgba(23,26,28,.1); }

.table--dark.first-column td:first-child{ background:rgba(23,26,28,.75); color:#fff; }

form .form__item{ margin-bottom:2rem; }

form input:not([type=checkbox]):not([type=radio]):not([type=submit]),form select,form textarea{ display:block; border:1px solid #dfe0e0; background:#fff; width:100%; line-height:1.6; font-family:Lato,"sans-serif"; font-size:1rem; color:#53575a; border-radius:.25rem; padding:.5rem 1rem; }

form input:not([type=checkbox]):not([type=radio]):not([type=submit])::-webkit-input-placeholder,form select::-webkit-input-placeholder,form textarea::-webkit-input-placeholder{ color:rgba(83,87,90,.75); }

form input:not([type=checkbox]):not([type=radio]):not([type=submit]):-ms-input-placeholder,form select:-ms-input-placeholder,form textarea:-ms-input-placeholder{ color:rgba(83,87,90,.75); }

form input:not([type=checkbox]):not([type=radio]):not([type=submit])::placeholder,form select::placeholder,form textarea::placeholder{ color:rgba(83,87,90,.75); }

form textarea{ min-height:6em; }

form label{ color:#007bdf; display:block; font-size:1rem; margin-bottom:.2em; }

form label+input::-webkit-input-placeholder{ display:none; }

form label+input:-ms-input-placeholder{ display:none; }

form label+input::placeholder{ display:none; }

form [type=submit]{ margin:0 !important; }

.card{ border:1px solid #dfe0e0; box-shadow:0 1px 2px rgba(0,0,0,.1); background:#fff; border-radius:.25rem; margin-bottom:2rem; }

.card [class*=button],.card p{ margin:0; }

.card__img img{ display:block; border-radius:.25rem .25rem 0 0; }

.card__content{ font-size:1rem; padding:1rem; }

.card__title{ font-family:Open Sans,"sans-serif"; font-weight:700; margin-bottom:1rem; }

.card__title+.card__subtitle{ margin-top:-1rem; }

.card__subtitle{ font-size:.875rem; opacity:.5; margin-bottom:.5rem; }

.card__footer{ margin-top:1rem; font-size:.875rem; border-top:1px solid #dfe0e0; padding-top:1rem; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; }

.card__footer,.card__user{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; }

.card__user a{ color:#53575a; }

.card__user-img img{ border-radius:50%; width:2rem; height:2rem; display:block; margin-right:.5rem; }

[class*=card--mini] .card__title{ margin-bottom:.25rem; }

[class*=card--mini] .card__body{ font-size:.875rem; padding-top:.5rem; border-top:1px solid #fba905; }

[class*=card--mini] .card__footer{ border-top:none; padding-top:0; }

@media screen and (min-width:840px){ .card--mini-horizontal{ display:-webkit-box; display:-ms-flexbox; display:flex; } }

.card--mini-horizontal .card__img img{ border-radius:.25rem 0 0 .25rem; }

.post-header{ position:relative; margin-bottom:2em; }

.post-header img{ display:block; }

.post-header:before{ content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(23,26,28,.8); }

.post-header h1{ position:absolute; top:50%; text-align:center; width:90%; left:5%; -webkit-transform:translateY(-50%); transform:translateY(-50%); color:#fff; }

.post .author{ display:table; margin:-5em auto 2em; position:relative; }

.post .author img{ border:4px solid #fff; }

.main-banner{ background:#007bdf; color:#fff; -webkit-clip-path:polygon(0 0,100% 0,100% 100%,0 94%); clip-path:polygon(0 0,100% 0,100% 100%,0 94%); margin-bottom:4rem; position:relative; }

.main-banner.main-banner--secondary{ background:#00cbff; }

.main-banner.main-banner--tertiary{ background:#ff3c32; }

.main-banner.main-banner--accent{ background:#fba905; }

.main-banner.main-banner--dark{ background:#171a1c; }

.main-banner__img{ position:absolute; top:0; left:0; width:100%; height:100%; -o-object-fit:cover; object-fit:cover; opacity:.1; }

.main-banner__data{ text-align:center; margin-top:2rem; margin-bottom:3rem; position:relative; }

@media screen and (min-width:840px){ .main-banner__data{ margin-top:8rem; margin-bottom:11.25rem; } }

.main-banner__author{ color:#fff; margin-top:-1.5rem; }

.main-banner__author a{ color:inherit; }

.main-banner__author-img{ width:6rem; height:6rem; border-radius:50%; border:2px solid; display:block; margin:0 auto; }

.main-banner__author-name{ font-size:1rem; }

[class*=topbar]{ background:#007bdf; color:#fff; margin-bottom:2rem; font-size:1rem; }

[class*=topbar] .ed-item{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; }

@media screen and (min-width:840px){ [class*=topbar] .ed-item{ height:4rem; } }

@media screen and (max-width:839px){ [class*=topbar] .ed-item{ padding-top:.5rem; padding-bottom:.5rem; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; } }

[class*=topbar] .button,[class*=topbar] a,[class*=topbar] form,[class*=topbar] input,[class*=topbar] p{ margin-top:0; margin-bottom:0; color:inherit; }

[class*=topbar] form{ -webkit-box-flex:1; -ms-flex:auto; flex:auto; }

@media screen and (max-width:839px){ [class*=topbar] form{ display:none; } }

[class*=topbar] input{ border:none; background:#fff url(../img/icon-search.svg) center right 1rem/1rem no-repeat !important; }

[class*=topbar] [class*=button]{ padding-top:.5rem; padding-bottom:.5rem; margin-right:0; margin-left:2rem; }

.topbar--secondary{ background:#00cbff; }

.topbar--tertiary{ background:#ff3c32; }

.topbar--accent{ background:#fba905; }

.topbar--dark{ background:#171a1c; }

body{ font-size:1.25rem; font-family:Lato,"sans-serif"; font-weight:400; line-height:1.6; color:#53575a; }

@media screen and (max-width:839px){ body{ font-size:1rem; } }

h1,h2,h3,h4,h5,h6{ font-family:Open Sans,"sans-serif"; font-weight:700; letter-spacing:-.01em; line-height:1.3; }

.body-font{ font-family:Lato,"sans-serif"; }

.heading-font{ font-family:Open Sans,"sans-serif"; }

.t1,h1{ font-size:2.25rem; }

@media screen and (max-width:839px){ .t1,h1{ font-size:1.875rem; } }

.t2,h2{ font-size:1.875rem; }

@media screen and (max-width:839px){ .t2,h2{ font-size:1.5rem; } }

.t3,h3{ font-size:1.5rem; }

@media screen and (max-width:839px){ .t3,h3{ font-size:1.25rem; } }

h4{ font-size:1.25rem; }

.small,h5{ font-size:1rem; }

.smaller,h6{ font-size:.875rem; }

.t1,h1{ margin-top:0; margin-bottom:2rem; }

.t2,h2{ margin-top:4rem; }

.t2,.t3,h2,h3{ margin-bottom:1rem; }

.t3,h3{ margin-top:3rem; }

h4,h5,h6{ margin-top:2rem; margin-bottom:.5rem; }

blockquote,figure,iframe,p,video{ margin-top:0; margin-bottom:2rem; }

p.small,p.smaller{ margin-bottom:1rem; }

.t1+.subtitle,h1+.subtitle{ font-size:1rem; margin-top:-1.5rem; margin-bottom:2rem; }

blockquote{ font-size:1.5rem; font-style:italic; letter-spacing:.01em; margin-left:4rem; position:relative; opacity:.9; }

@media screen and (max-width:839px){ blockquote{ font-size:1.25rem; } }

blockquote:before{ content:"\201C"; font-family:Georgia,serif; font-size:3em; position:absolute; top:.5em; left:-.6em; line-height:0; letter-spacing:-.5em; }

a{ color:#00cbff; }

main a{ text-decoration:none; }

main a:hover{ text-decoration:underline; }

::-moz-selection{ background:#00cbff; color:#fff; }

::selection{ background:#00cbff; color:#fff; }

.colors{ display:-ms-grid; display:grid; -ms-grid-columns:(minmax(200px,1fr))[auto-fit]; grid-template-columns:repeat(auto-fit,minmax(200px,1fr)); grid-gap:1.5em; margin-bottom:2em; }

.color__sample{ padding-bottom:100%; height:0; }

.color__sample.color--body{ border:1px solid #dfe0e0; }

.color--primary{ background:#007bdf; }

.color--secondary{ background:#00cbff; }

.color--tertiary{ background:#ff3c32; }

.color--accent{ background:#fba905; }

.color--dark{ background:#171a1c; }

.color--border{ background:#dfe0e0; }

.color--text{ background:#53575a; }

.color--body{ background:#fafdff; }

.color__info{ text-align:center; border:1px solid #dfe0e0; border-top:none; padding:1em; background:#fff; }

.color__code,.color__name{ margin:0; }

.color__name{ font-weight:700; }

.data-list li div:last-child p{ text-align:right; }

.vertical-menu-toggle{ color:#007bdf; }
