<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Fernando Javier Averanga Aruquipa 
        link(rel="stylesheet", href="css/styles.css")
    body
        block content
        script(src="js/scripts.js")