.main-header {
  height : 64px;
  border-bottom : 1px solid $borderColor;
  display : flex;
  align-items: center;
  background : #fff;
  position : fixed;
  top : 0;
  width : 100%;
  left : 0;
  z-index : $z-fixed;

  + .main-section {
    margin-top : 2rem;
  }
}

body {
  margin-top : 64px;
  display : flex;
  flex-direction : column;
  min-height : calc(100vh - 64px);
}

.main-section {
  margin-bottom : 4rem;
}

.main-footer {
  background : $darkColor;
  color: #fff;
  margin-top : auto;
  padding : 1em 0;
}


.sidebar-first {
  margin-bottom : 1em;
}
.col50{
  @include edItem(100,50);
  padding: 10px;
}
